.buttonSignOut {
    margin: 0;
    background-color: inherit;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;

    cursor: pointer;    
}

.buttonSignOut:hover{
    transform: scale(1.2);
}