.main {   
    
   position: absolute;
   
    width: 100vw;
    height: 100%;   
    overflow: auto;
    background-image: url('../../public/bg.jpg');    
}

.form {
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0;

    height: 50px;
    padding: 1rem 1rem;

    background-color: #F0F2F5;
    
    display: flex;
    justify-content: space-between;

    input {
        border: none;
        border-radius: 15px;
        padding-left: 1rem;
        
        width: 100%;
    }
    
    input:focus {
        outline: none;
    }

    button {
        border: none;
        background-color: inherit;
        display: flex;
        align-items: center;
        color: #63737C;
        font-size: 2rem;

        transform: rotate(45deg);
        border-radius: 100%;

        cursor: pointer;
    }

    button:disabled {
        opacity: 0.2;
    }


}

.messageSent {
    display: flex;
    align-items: baseline;  

    flex-direction: row-reverse;
    
    margin: 0.5rem 0rem;

    .photo {
        width: 40px;
        height: 40px;

        border-radius: 100%;

        margin: 0rem 0.2rem;
    }
    .semPhoto {
        width: 40px !important;
        margin: -2rem 0.2rem;
        height: 40px;
    }

    p {
        margin: -0.2rem 0.2rem;
        background-color: #D9FDD3;
        padding: 0.25rem 0.75rem;
        border-radius: 5px;
        box-shadow: 1px 1px rgba(0, 0, 0, 0.233);
    }

    
    
}

.messageReceived {
    display: flex;
    align-items: baseline;  
    
    margin: 0.5rem 0rem;
  
    .photo {
        width: 40px;
        height: 40px;

        border-radius: 100%;
        margin: 0rem 0.2rem;
    }
    .semPhoto {
        width: 40px !important;
        margin: -2rem 0.2rem;
    }

    p {
        margin: -0.2rem 0.2rem;
        background-color: #FFFFFF;
        padding: 0.25rem 0.75rem;
        border-radius: 5px;
        box-shadow: 1px 1px rgba(0, 0, 0, 0.233);
    }
} 