.signIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;
    
    button {
        padding: 1rem 4rem;
        border: none;
        background-color: #25D366;
        color: white;
        font-weight: bold;
        font-size: 1rem;

        border-radius: 10px;

        transition: 0.2s;
        cursor: pointer;
    }

    button:hover {
        transform: scale(1.02);
    }    
}