$base-color: #F0F2F5;
.app {
    
    overflow: none !important;
    position: relative;
    margin: 0;
}

.section {   
   position: fixed;
   bottom: 80px;
   top: 66px;
   left: 0;
   right: 0;
}

.header {   
    background-color: $base-color;
    position: fixed;    

   
    left: 0;
    right: 0;

    padding: .5rem 0.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        
        .logo {            
            border-radius: 100%;
            width: 35px;
            height: 35px;

            background-color: #30373b;

            margin-right: 0.2rem;
            
            display: flex;
            align-items: center;
            justify-content: center;

            span{
                padding-top: 5px;                  
                font-size: 1.5rem;
                color: white;
            }
        }

        h1 {
            color: #30373b;
            font-size: 16px;
        }
    }
    
}