$base-color: #F0F2F5;
.app {
    
    overflow: none !important;
    position: relative;
    margin: 0;
}

.section {   

    background: rgb(213,233,213);
    background: radial-gradient(circle, rgba(213,233,213,1) 15%, rgba(255,255,255,1) 35%);
    position: fixed;
    bottom: 80px;
    top: 66px;
    left: 0;
    right: 0;
}

.header {   
    background-color: $base-color;
    position: fixed;    

   
    left: 0;
    right: 0;

    padding: .5rem 0.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        
        .logo {            
            border-radius: 100%;
            width: 35px;
            height: 35px;

            background-color: #30373b;

            margin-right: 0.2rem;
            
            display: flex;
            align-items: center;
            justify-content: center;

            span{
                padding-top: 5px;                  
                font-size: 1.5rem;
                color: white;
            }
        }

        h1 {
            color: #30373b;
            font-size: 16px;
        }
    }
    
}

.form {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;

    height: 50px;
    padding: 1rem 1rem;

    background-color: #F0F2F5;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        border: none;
        border-radius: 15px;
        padding-left: 1rem;
        
        height: 50px;
        width: 100%;
    }
    
    input:focus {
        outline: none;
    }

    button {
        border: none;
        background-color: inherit;
        display: flex;
        align-items: center;
        color: #63737C;
        font-size: 2rem;

        // transform: rotate(45deg);
        border-radius: 100%;

        cursor: pointer;        
    }

    button:disabled {
        opacity: 0.2;
    }


}